# React Native
# Node modules
node_modules/

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Metro
.expo/
.expo-shared/

# Babel
.babelrc
babel.config.js

# Jest
coverage/

# TypeScript
*.tsbuildinfo

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/.DS_Store
android/.cxx/
android/app/.cxx/
android/.settings/
android/.externalNativeBuild/
android/.vscode/

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
ios/.DS_Store
ios/.idea/
ios/.vscode/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/react_native_navigation.xcodeproj/project.xcworkspace/
ios/react_native_navigation.xcodeproj/xcuserdata/
ios/react_native_navigation.xcworkspace/
ios/*/xcuserdata/
ios/*/project.xcworkspace/
ios/.xcode.env
ios/.xcode.env.local

# Misc
.env
.env.*
*.keystore
*.jks
*.p8
*.p12
*.key
*.crt
*.pem

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ruby
Gemfile.lock
vendor/bundle/

# VSCode
.vscode/

# macOS
*.swp 